NET "A<3>" LOC = "N3";
NET "A<2>" LOC = "E2";
NET "A<1>" LOC = "F3";
NET "A<0>" LOC = "G3";
NET "B<3>" LOC = "B4";
NET "B<2>" LOC = "K3";
NET "B<1>" LOC = "L3";
NET "B<0>" LOC = "P11";

NET "S<4>" LOC = "N5";
NET "S<3>" LOC = "P6";
NET "S<2>" LOC = "P7";
NET "S<1>" LOC = "M11";
NET "S<0>" LOC = "M5";