//! **************************************************************************
// Written by: Map P.20131013 on Fri Oct 05 17:09:56 2018
//! **************************************************************************

SCHEMATIC START;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

