//! **************************************************************************
// Written by: Map P.20131013 on Fri Aug 31 16:43:36 2018
//! **************************************************************************

SCHEMATIC START;
COMP "D<0>" LOCATE = SITE "P11" LEVEL 1;
COMP "D<1>" LOCATE = SITE "L3" LEVEL 1;
COMP "D<2>" LOCATE = SITE "K3" LEVEL 1;
COMP "D<3>" LOCATE = SITE "B4" LEVEL 1;
COMP "D<4>" LOCATE = SITE "G3" LEVEL 1;
COMP "D<5>" LOCATE = SITE "F3" LEVEL 1;
COMP "D<6>" LOCATE = SITE "E2" LEVEL 1;
COMP "D<7>" LOCATE = SITE "N3" LEVEL 1;
COMP "S<0>" LOCATE = SITE "G12" LEVEL 1;
COMP "S<1>" LOCATE = SITE "C11" LEVEL 1;
COMP "S<2>" LOCATE = SITE "M4" LEVEL 1;
COMP "Y" LOCATE = SITE "M5" LEVEL 1;
SCHEMATIC END;

