NET clock CLOCK_DEDICATED_ROUTE = FALSE;

NET "clock" LOC = "G12";
NET "reset" LOC = "C11";

NET "A<1>" LOC = "L3";
NET "A<0>" LOC = "P11";

NET "L" LOC = "P7";
NET "M" LOC = "M11";
NET "N" LOC = "M5";