//! **************************************************************************
// Written by: Map P.20131013 on Mon Sep 17 15:03:08 2018
//! **************************************************************************

SCHEMATIC START;
COMP "A" LOCATE = SITE "E2" LEVEL 1;
COMP "B" LOCATE = SITE "F3" LEVEL 1;
COMP "C" LOCATE = SITE "G3" LEVEL 1;
COMP "D" LOCATE = SITE "B4" LEVEL 1;
COMP "E" LOCATE = SITE "K3" LEVEL 1;
COMP "F" LOCATE = SITE "L3" LEVEL 1;
COMP "G" LOCATE = SITE "P11" LEVEL 1;
COMP "S" LOCATE = SITE "M5" LEVEL 1;
SCHEMATIC END;

