//! **************************************************************************
// Written by: Map P.20131013 on Sat Nov 10 16:01:31 2018
//! **************************************************************************

SCHEMATIC START;
NET "clock_BUFGP/IBUFG" BEL "clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

